html{
    overflow: scroll;
    height:1054px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/static/img/road-dawn-mountains-sky.jpeg');
  background-size:cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 1);

  /*background-color:#000000;*/
  /*background-position:center center;*/        
}

@font-face {
  font-family: 'wisdom';
  src: url('/static/Wisdom Script AJ.otf')
}

.logo1{
  float:top;
  float:left;
  margin-top: -200px;
  margin-left: 100px;
}
.search1 {
	margin-top: 10%;
}
.search2 {
  margin-top: 3%;
}

.search .form-section{
	background:rgba(0,0,0,0.6);
	border: 2px solid #414141;
	border-radius: 5px;
	padding: 10px;
}

h1 { 
  margin-top:10%;
  margin-bottom:5%;
  color: #fff; 
  font-family: 'wisdom'; 
  font-size: 200px;
  letter-spacing: 3px; 
  line-height: 1; text-align: center; }


h2 { 
  color: #111; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 32px; 
  font-weight: 300; 
  line-height: 32px; 
  /*margin: 0 0 72px;*/
  text-align: center; 
  }

  h1, h2 { padding:0; }

